*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
./DS_STORE
/core/di/build
/core/resources/build
/compose/ui-theme/build
/navigation/build
/build
/captures
.externalNativeBuild
.cxx
.DS_Store
local.properties
